/* src/styles/global.css */
@import './variables.css';
@import './fonts.css';
@import './reset.css';

/* Reset de base */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  color: var(--color-primary-dark-500);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-serif);
  line-height: 1.2;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

a {
  transition: color 0.4s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}

.section-title {
  font-size: var(--fs-900);
  color: var(--color-primary-dark-500);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.section-subtitle {
  display: block;
  padding-left: 3.5rem;
  color: var(--color-primary-gold-500, #8b7355);
  font-size: 2rem;
  font-style: italic;
}